@model Parcial2.Models.cliente
@{
    ViewBag.Title = "Randon";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>
    <h4>Model.Nombre</h4>
    <h4>Model.Apellido</h4>
    <h4>Model.Saldo</h4>
</h2>

